:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: black;
	
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

#textCanvas {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	border: 2px solid red;
	display: none;
}

.popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	background-color: black;
	opacity: 80%;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.5) 0 4px 4px 2px;
	
	min-width: 400px;
	width: 50vw;
	max-width: 90vw;
	padding: 1rem;
	box-sizing: border-box;
}

.closeBtn {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	cursor: pointer;
	user-select: none;
}

.popup.active {
	display: block;
}
